<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cityguessr</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <h1>401 Unauthorized</h1>
    <img src="https://gifdb.com/images/high/angry-cat-triggered-hissing-camera-shake-g5bsu5e8eb5sjite.gif" alt="404">
</body>

</html>