<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cityguessr</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <%- include('../components/header') %>
    <h1>500 Internal server error</h1>
    <%= error %>
    <img src="https://c.tenor.com/_H-rwK7Gk9IAAAAd/tenor.gif" alt="404">
</body>

</html>