<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cityguessr</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <%- include('components/header') %>
    <div class="container">
        <div class="textbox">
            Check your email inbox to reset password
        </div>
    </div>
</body>

</html>