<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cityguessr</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <%- include('components/header') %>
    <h1>Cityguessr</h1>
    <div id="timer"></div>
    <div id="queue"></div>
    <button onclick="ready()" class="ready" id="ready">Ready</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io();
        
        function renderQueue(queue) {
            console.log("rendering queue")
            qhtml = "<ul>"
            for (let i = 0; i < queue.length; i++) {
                qhtml += "<li>"
                qhtml += queue[i].username
                if (queue[i].ready) {
                    qhtml += " (ready)"
                }
                qhtml += "</li>"
            }
            qhtml += "</ul>"
            console.log(qhtml)
            document.getElementById('queue').innerHTML = qhtml
        }

        socket.on('queue', (queue) => {
            renderQueue(queue);
        });

        function ready() {
            button = document.getElementById('ready')
            if (button.innerHTML == "Ready") {
                button.innerHTML = "Unready"
                socket.emit('ready')
            } else {
                button.innerHTML = "Ready"
                socket.emit('unready')
            }
        }

        socket.on('game-start', (game) => {
            button = document.getElementsByClassName('ready')[0]
            button.innerHTML = "Ready"
            button.style.display = "none"
        })

        socket.on('game-end', (game) => {
            button = document.getElementsByClassName('ready')[0]
            button.style.display = "block"
            document.getElementById('timer').innerHTML = ""
        })

        socket.on('counter', (count) => {
            document.getElementById('timer').innerHTML = "Remaining time: " + count + " seconds"
        });

        socket.on('drop', (message) => {
            alert(message);
            window.location = '/';
        });

    </script>
</body>

</html>