<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cityguessr</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <%- include('components/header') %>
    <div id="timer"></div>
    <div id="queue"></div>
    <button onclick="ready()" class="ready" id="ready">Ready</button>
    <div id="city"></div>
    <select id="city-select" class="js-example-basic-single" name="state" style="display: none;">
    </select>
    <button onclick="choice()" class="guess" id="guess" style="display: none;">Confirm choice</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io();
        
        function renderQueue(queue) {
            console.log("rendering queue")
            console.log(queue)
            qhtml = '<ul class="queue"><li>Queue:</li>'
            for (let i = 0; i < queue.length; i++) {
                qhtml += "<li>"
                qhtml += queue[i].username + " - " + String(queue[i].points) + " pts"
                if (queue[i].ready) {
                    qhtml += " (ready)"
                }
                if (queue[i].guess != -1) {
                    qhtml += " (guessed)"
                }
                if (queue[i].guessed != '') {
                    qhtml += " (guessed: " + queue[i].guessed + ")"
                }
                qhtml += "</li>"
            }
            qhtml += "</ul>"
            console.log(qhtml)
            document.getElementById('queue').innerHTML = qhtml
        }

        socket.on('queue', (queue) => {
            renderQueue(queue);
        });

        function ready() {
            readyButton = document.getElementById('ready')
            if (readyButton.innerHTML == "Ready") {
                readyButton.innerHTML = "Unready"
                socket.emit('ready')
            } else {
                readyButton.innerHTML = "Ready"
                socket.emit('unready')
            }
        }

        function choice() {
            var e = document.getElementById("city-select");
            var city_id = e.options[e.selectedIndex].value;
            socket.emit('choice', city_id)
        }

        socket.on('game-start', (game) => {
            button = document.getElementsByClassName('ready')[0]
            button.innerHTML = "Ready"
            button.style.display = "none"
            document.getElementById('city').innerHTML = "Waiting for question to generate..."
        })

        socket.on('city', (description) => {
            document.getElementById('city').innerHTML = "X is a city " + description
            document.getElementById('city-select').style.display = "block"
            document.getElementById('guess').style.display = "block"
        })

        socket.on('game-end', (city, closeCities) => {
            button = document.getElementsByClassName('ready')[0]
            button.style.display = "block"
            document.getElementById('timer').innerHTML = ""
            console.log(closeCities)
            answer = "The answer was: " + city.name + " (" + city.country_name + ") - 3 pts, <br>other close cities were: "
            for (let i = 0; i < closeCities.length - 1; i++) {
                if (closeCities[i] == null) {
                    continue
                }
                answer += closeCities[i].name + ", "
            }
            answer += closeCities[closeCities.length - 1].name + " - 1 pt"
            document.getElementById('city').innerHTML = answer 
            document.getElementById('city-select').style.display = "none"
            document.getElementById('guess').style.display = "none"
        })

        socket.on('counter', (count) => {
            document.getElementById('timer').innerHTML = "Remaining time: " + count + " seconds"
        });

        socket.on('drop', (message) => {
            alert(message);
            window.location = '/';
        });

        socket.on('candidates', (cities) => {
            console.log(cities)
            var data = []
            for (let i = 0; i < cities.length; i++) {
                data.push({
                    id: cities[i].id,
                    text: cities[i].name + " (" + cities[i].country_name + ")"
                })
            }
            console.log(data)
            $('#city-select').select2({
                data: data
            });
        });
    
    </script>
</body>
<style>
    select {
        width: 300px;
    }

    .queue {
        margin: 16px;
        border: 1px solid black;
        width: 300px;
    }
    div {
        padding: 4px;
    }

</style>

</html>