<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cityguessr</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <%- include('components/header') %>
    <h1>Cityguessr</h1>
    <div id="users"></div>
    <button onclick="ready()">Ready</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</body>

</html>