<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('components/header') %>
    <div class="container">
        <form action="/auth/login" method="post">
            <section>
                <div>
                    <h1>Log in</h1>
                </div>
            </section>  
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required autofocus>
            </section>
            <section>
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <button type="submit">Log in</button>
            <button type="button" onclick="window.location.href='/auth/forgot'">Forgot my password</button>
            <div class="error"><%= error %></div>
        </form>
    </div>
</body>

</html>