<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <%- include('components/header') %>
    <div class="container">
        <div class="user">
            <ul>
                <li>Username: <%= profile.username %></li>
                <li>Email: <%= profile.email %></li>
                <li>Verified: <%= profile.email_verified %></li>
            </ul>
        </div>
    </div>
</body>

</html>