<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <section class="prompt">
        <h1>Sign up</h1>
        <% if (message) { %>
            <p class="error"><%= message %></p>
        <% } %>
        <form action="/auth/register" method="post">
            <section>
                <label for="email">Email</label>
                <input id="email" name="email" type="email" autocomplete="email" required autofocus>
            </section>
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required>
            </section>
            <section>
                <label for="new-password">Password</label>
                <input id="new-password" name="password" type="password" autocomplete="new-password" required>
            </section>
            <button type="submit">Sign up</button>
        </form>
    </section>
</body>

</html>