@import 'reset.scss', 'nav.scss';

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: $nord4;
}

.container {
	display: flex;
	justify-content: center;
}

.textbox {
	font-size: 24px;
	padding: 24px;
	font-weight: bold;
}

.user {
	margin: 24px;
	padding: 24px;
	border: 1px solid $nord3;
}

.user h1 {
	font-size: 24px;
	font-weight: bold;
}