@import 'nord.scss';

nav {
    background-color: $nord3;
    height: 50px;
}

nav div {
    float: right;
    color: $nord4;
    text-align: center;
    line-height: 50px;
    padding: 0 20px;
}

nav .left {
    float: left;
}

nav div a {
    color: $nord4;
    text-decoration: none;
    line-height: 50px;
}

nav div:hover {
    background-color: $nord2;
}

nav div h1 {
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.username {
    font-style: italic;
}

.admin {
    font-weight: bold;
}