<div class="city-list">
    <% cities.forEach(function(city) { %>
        <%- include('city-card', { city: city }) %>
    <% }); %>
</div>
<style>
    .city-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
</style>