<header class="header">
    <nav>
        <div class="left" onclick="window.location.href='/'">
            <h1>Cityguessr</h1>
        </div>
        <% if (!user) { %>
            <div onclick="window.location.href='/auth/login'">
                Login
            </div>
            <div onclick="window.location.href='/auth/register'">
                Register
            </div>
        <% } else { %>
            <div onclick="window.location.href='/auth/logout'">
                Logout
            </div>
            <% if (user.privilege> 0) { %>
                <div onclick="window.location.href='/users'">
                    Users
                </div>
            <% ;} %>
            <div onclick="window.location.href='/users/profile'">
                Logged as: <%- include('username') %>
            </div>
        <% }; %>
    </nav>
</header>