<header class="header">
    <nav>
        <div class="left">
            <h1>Cityguessr</h1>
        </div>
        <% if (!user) { %>
            <div>
                <a href="/auth/login">Login</a>
            </div>
            <div>
                <a href="/auth/register">Register</a>
            </div>
            <% } else { %>
                <div>
                    <a href="/auth/logout" method="get">Logout</a>
                </div>
                <% if (user.privilege> 0) { %>
                    <div>
                        <a href="/users">Users</a>
                    </div>
                <% ;} %>
                <div>
                    <p>
                        Logged as: <span class="username"><%= user.username %></span>
                    </p>
                </div>
            <% }; %>
    </nav>
</header>