<span class="username <% if (user.privilege) { %>admin<% } %>">
    <%= user.username %>
</span>
<% if (user.activated) { %>
    <span class="verified">✓</span>
<% } else { %>
    <span class="not-verified">✗</span>
<% }; %>